name: docs 
on:
  push:
    branches:
      - master
    tags:
      - '*'
  workflow_run:
    workflows: ["Manual Release Version"]
    types:
      - completed

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - uses: actions/cache@v5
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material pillow cairosvg mike
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Deploy documentation
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]] || [[ $GITHUB_EVENT_NAME == "workflow_run" ]]; then
            VERSION=$(grep "version=" addons/admob/plugin.cfg | cut -d'"' -f2 | sed 's/^v//' | cut -d. -f1,2)
            
            mike deploy --push --update-aliases $VERSION stable
            mike set-default --push stable
          else
            mike deploy --push --update-aliases latest
          fi
